backend:
  name: git-gateway
  branch: master

publish_mode: editorial_workflow
media_folder: static/img
public_folder: /img

collections:
  - name: trips
    label: Trips
    folder: src/pages/trips
    create: true
    slug: "{{slug}}"
    fields: 
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "trip"}
      - {label: "File Title", name: "title", widget: "string"}
      - {label: "Display Title", name: "displayTitle", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Location", name: "location", widget: "string"}
      - label: "Parent"
        name: "parent"
        required: false
        collection: "trips"
        widget: relation
        displayFields: ["displayTitle", "title", "date"]
        searchFields: ["displayTitle", "date"]
        valueField: "title"
      - {label: "Publish", name: "publish", widget: "boolean", required: false}
      - {label: "Image", name: "image", widget: "image", required: false}
      - label: "Meta"
        name: "meta"
        widget: "list"
        required: false
        fields:
          - {label: "Text", name: "text", widget: "string"}
          - {label: "Value", name: "value", widget: "string"}
      - {label: "Description", name: "description", widget: "markdown", required: false}
      - {label: "Body", name: "body", widget: "markdown", required: false}

  - name: "blog"
    label: "Blog"
    folder: "src/pages/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "blog-post"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Tags", name: "tags", widget: "list"}

  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/about/index.md"
        label: "About"
        name: "about"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Body", name: "body", widget: "markdown"}
      - file: "src/pages/gear/index.md"
        label: "Gear Page"
        name: "gear"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "page"}
          - {label: Title, name: title, widget: string}
          - {label: Body, name: body, widget: markdown}
