// Config vars
$text-color-dark: #404040
$text-color-light: white
$color-accent: #00ffbf
$color-bg: #292f33
$color-dark: #1d2124

$spacing-unit:     1.5em !default

@mixin transition($property, $time: 0.2s)
  transition: ease-in-out $time $property


@import 'library/reset', 'layout/typography', 'layout/header'

.custom-block-line p
  display: flex
  max-width: 1200px

  a
    width: 100%
    flex: 1
